Repository N5GEH/n5geh.services.grid_protection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: opcua_server, opcua_extern_client, protection

.gitlab-ci.yml:

stages:
- build

opcua_server:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/docker/Server.Dockerfile --destination $CI_REGISTRY_IMAGE/server --cache=true --cache-dir=/kanikocache
  only:
    refs:
    - develop
    changes:
    - docker/server.Dockerfile
    - docker/cloud_setup/opc_ua/server/OPCServer.py

opcua_extern_client:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/docker/ExternClient.Dockerfile --destination $CI_REGISTRY_IMAGE/extern_client --cache=true --cache-dir=/kanikocache
  only:
    refs:
    - develop
    changes:
    - docker/ExternClient.Dockerfile
    - docker/cloud_setup/opc_ua/client/OPCClient_SimDevice.py

protection:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  script:
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/docker/Protection.Dockerfile --destination $CI_REGISTRY_IMAGE/protection --cache=true --cache-dir=/kanikocache
  only:
    refs:
    - develop
    changes:
    - docker/protection.Dockerfile
    - docker/cloud_setup/protection/DataHandler.py

resolve conflicts
  .gitignore
  docker/Server.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/main.py
Due: none

fix typos
  docker/README.md
  tutorials/README.md
Due: none

fix typos in image file
  tutorials/images/grafana_meas_values.png
  tutorials/images/portainer_finish.png
Due: none

fix typos
  tutorials/README.md
Due: none

Update READMEs, rename dir tutorial
  README.md
  docker/README.md
  tutorial/README.md
  tutorial/grafana_dashboard_demo.json
  tutorial/images/GridProtection-services.png
  tutorial/images/grafana_datasource.png
  tutorial/images/grafana_meas_values.png
  tutorial/images/portainer_build_new_image.png
  tutorial/images/portainer_build_opcua_server.png
  tutorial/images/portainer_build_opcua_server_image.png
  tutorial/images/portainer_container.png
  tutorial/images/portainer_finish.png
  tutorial/images/uaexpert_add_new_server_anonymous.png
  tutorial/images/uaexpert_show_connected_nodes.png
Due: none

add Server method "On/Off Online Grid Protection"
  .gitignore
  docker/cloud_setup/data/device_config/Setup_demonstrator.txt
  docker/cloud_setup/data/topology/TopologyFile_demonstrator.json
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/protection/GridProtectionManager.py
  docker/cloud_setup/requirements.txt
Due: opcua_server, protection

cherry pick be3db8a: add server method "On/Off Online Grid Protection"
  .gitignore
  docker/cloud_setup/data/device_config/Setup_demonstrator.txt
  docker/cloud_setup/data/topology/TopologyFile_demonstrator.json
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/protection/GridProtectionManager.py
  docker/cloud_setup/requirements.txt
Due: opcua_server, protection

rename setup and topology file for 3phase mode
  docker/cloud_setup/data/device_config/Setup_demonstrator_3ph.txt
  docker/cloud_setup/data/device_config/Setup_demonstrator_simulation.txt
  docker/cloud_setup/data/topology/TopologyFile_demonstrator_3ph.json
  docker/cloud_setup/data/topology/TopologyFile_demonstrator_simulation.json
Due: none

add ENV for SimDevice to specify special vars for automatic var updater
  docker/README.md
  docker/SimDevice.Dockerfile
  docker/cloud_setup/sim_device/SimulatedDeviceManager.py
  tutorial/README.md
Due: none

add disclosure in Readme
  README.md
Due: none

update opcua-lib version; clean up
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/README.md
  docker/cloud_setup/opc_ua/certificates/generate_certificate_x509v3.sh
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_client_cert.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_client_private_key.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_server_cert.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_server_private_key.pem
  docker/cloud_setup/opc_ua/certificates/ssl_client_example.conf
  docker/cloud_setup/opc_ua/certificates/ssl_server_example.conf
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/GridProtectionManager.py
  docker/cloud_setup/requirements.txt
  docker/cloud_setup/setup.py
  docker/cloud_setup/sim_device/SimulatedDeviceManager.py
Due: opcua_server

cherry pick commit 77709ff
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/README.md
  docker/cloud_setup/opc_ua/certificates/generate_certificate_x509v3.sh
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_client_cert.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_client_private_key.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_server_cert.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_server_private_key.pem
  docker/cloud_setup/opc_ua/certificates/ssl_client_example.conf
  docker/cloud_setup/opc_ua/certificates/ssl_server_example.conf
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/GridProtectionManager.py
  docker/cloud_setup/requirements.txt
  docker/cloud_setup/setup.py
  docker/cloud_setup/sim_device/SimulatedDeviceManager.py
Due: opcua_server

fix link in readme of opcua
  docker/cloud_setup/opc_ua/README.md
Due: none

fix: use placeholder if cert_paths are missing
  docker/cloud_setup/database_access/OPCClient_Database.py
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/OPCClient_DataHandler.py
  docker/cloud_setup/sim_device/OPCClient_SimulatedDevice.py
Due: opcua_server, protection

add missing function call in subscription
  docker/cloud_setup/opc_ua/client/subscription.py
Due: none

added opcua nodes for voltage
  docker/cloud_setup/data/device_config/Setup_demonstrator.txt
Due: none

add link overview in READMEs; add Acknowledgement to top level README
  README.md
  tutorial/README.md
Due: none

cherry pick: add link overview in READMEs; add Acknowledgement to top level README
  README.md
  tutorials/README.md
Due: none

raise version; define default server endpoint for services
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
  docker/SimDevice.Dockerfile
Due: none

set required python-opcua version fix to 0.98.13
  docker/cloud_setup/requirements.txt
Due: none

fix Readme in section DatabaseAccess
  tutorial/README.md
Due: none

add default value for internal var in sim_device
  docker/cloud_setup/sim_device/SimulatedDeviceManager.py
Due: none

fix code inserts in tutorial; specify influxdb version to 1.x; add links
  tutorial/README.md
Due: none
