Repository N5GEH/n5geh.services.grid_protection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: opcua_server, opcua_extern_client, protection

opcua_server:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

opcua_extern_client:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

protection:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

fix: version number in extras_require in setup.py
  docker/cloud_setup/setup.py
Due: none

add var faultState for each phase
  docker/cloud_setup/data/device_config/demonstrator_setup.txt
  docker/cloud_setup/data/topology/TopologyFile_demonstrator.json
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/protection/settings.py
Due: none

add container build to CI
  .gitlab-ci.yml
  docker/DatabaseAccess.Dockerfile
  docker/cloud_setup/setup.py
Due: none

remove unused code
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
Due: protection

fix: path of script for simDevice
  .gitlab-ci.yml
  docker/SimDevice.Dockerfile
Due: none

add panadas to requirements of simDevice
  .gitlab-ci.yml
  docker/README_Dockerfiles.md
  docker/SimDevice.Dockerfile
  docker/cloud_setup/setup.py
Due: none

fix: faultstate as global var
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/protection/LocalData.py
Due: protection

fix: run local
  docker/cloud_setup/main.py
  docker/cloud_setup/protection/DiffCore.py
Due: none

change SimDevice values to sin; adapt ENV from microssec to millisecs
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/helper/DateHelper.py
  docker/cloud_setup/main.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: protection

bugfix str to int, add server method Set_PV_LIMIT
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/opc_ua/server/OPCServer.py
Due: opcua_server

test HEALTH in protection dockerfile
  docker/Protection.Dockerfile
Due: none

change data update process in SimDevice
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: none

fix: method: delete node if already exists
  docker/cloud_setup/opc_ua/server/OPCServer.py
Due: opcua_server

raise to 0.6 for server
  docker/Server.Dockerfile
  docker/cloud_setup/opc_ua/server/OPCServer.py
Due: opcua_server

adapt Nominal Currrent Value
  docker/Protection.Dockerfile
  docker/cloud_setup/protection/DataHandler.py
Due: protection

fix: no start of influxdbwrapper in main, should startet seperate
  docker/cloud_setup/main.py
Due: none

fix: forgotten ENV
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
Due: none

fix: reset of value in SimDevice
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: none

new name convention
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/data/device_config/Setup_demonstrator.txt
  docker/cloud_setup/data/device_config/Setup_demonstrator_simulation.txt
  docker/cloud_setup/data/device_config/Setup_powerfactroy.txt
  docker/cloud_setup/data/device_config/test.txt
  docker/cloud_setup/data/topology/TopologyFile_demonstrator.json
  docker/cloud_setup/data/topology/TopologyFile_demonstrator_simulation.json
  docker/cloud_setup/data/topology/TopologyFile_powerfactory.json
  docker/cloud_setup/data/topology/TopologyFile_test.json
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/main.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: protection

adapt values for update simDevice and DB
  docker/DatabaseAccess.Dockerfile
  docker/SimDevice.Dockerfile
Due: none

fix: name convention
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: protection

decrease faulty_state counter when DiffCore Result "Valid"
  docker/cloud_setup/protection/DiffCore.py
Due: none

cleanup debug_mode_print, add env db_name for influxdbwrapper
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/database_access/OPCClient_Database.py
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/protection/OPCClient_DataHandler.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: protection

fix: check for slack in var_name
  docker/cloud_setup/protection/DataHandler.py
Due: protection

fix: var name for db_name
  docker/cloud_setup/database_access/InfluxDbWrapper.py
Due: none

change to one-phase calculation in DiffCore for demonstrator; rename DeviceConfigPath
  docker/Protection.Dockerfile
  docker/cloud_setup/database_access/OPCClient_Database.py
  docker/cloud_setup/protection/DataHandler.py
Due: protection

fix:setting and evaluation of fault_state_counter
  docker/Protection.Dockerfile
  docker/cloud_setup/main.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/DiffCore.py
  docker/cloud_setup/protection/LocalData.py
Due: protection

increase version of lib pandas to prevent ValueError after 1h (checkd with numpy==1.18.1)
  docker/cloud_setup/setup.py
Due: none

add timestamp to server messages
  docker/cloud_setup/helper/DateHelper.py
  docker/cloud_setup/opc_ua/server/OPCServer.py
Due: opcua_server

add lib pandas=1.0.0 to necessary lib for all dockerfiles
  docker/cloud_setup/setup.py
Due: none

improve logging and print messages, catches client.connect() errors
  docker/DatabaseAccess.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/database_access/OPCClient_Database.py
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/OPCClient_DataHandler.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: opcua_server, protection

try catch in varUpdater
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: none

set own python-opcua fork as opcua lib
  docker/cloud_setup/setup.py
Due: none

further setup.py lib path testing
  docker/cloud_setup/setup.py
Due: none

same
  docker/cloud_setup/setup.py
Due: none

foo
  docker/cloud_setup/setup.py
Due: none

Add lib opcua via requirements.txt
  docker/DatabaseAccess.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
  docker/SimDevice.Dockerfile
  docker/cloud_setup/data/topology/TopologyFile_demonstrator.json
  docker/cloud_setup/requirements.txt
  docker/cloud_setup/setup.py
Due: none

foo
  docker/cloud_setup/requirements.txt
Due: none

Path conditions:
  opcua_server: any of: docker/server.Dockerfile, docker/cloud_setup/opc_ua/server/OPCServer.py
  opcua_extern_client: any of: docker/ExternClient.Dockerfile, docker/cloud_setup/opc_ua/client/OPCClient_SimDevice.py
  protection: any of: docker/protection.Dockerfile, docker/cloud_setup/protection/DataHandler.py
