Repository N5GEH/n5geh.services.grid_protection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: opcua_server, opcua_extern_client, protection

opcua_server:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

opcua_extern_client:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

protection:
  stage: build
  cache:
    key: kaniko
    paths:
    - /kanikocache
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

update gitignore
  .gitignore
Due: none

add ntp client
  ntp/__init__.py
  ntp/ntp_client.py
Due: none

set gitlab runner listener to branch develop
  .gitlab-ci.yml
Due: none

add StatusFlag for FAULTY_STATES, force mismatch of currents through updating not in same step size (for testing)
  docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  docker/CloudSetup/PFInputFiles/demonstrator_setup.txt
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/Protection/DiffCore.py
  docker/CloudSetup/Protection/settings.py
  docker/CloudSetup/Topology/TopologyFile_demonstrator.json
Due: opcua_extern_client, protection

rename MeasDeviceConfig, add volume in Protection.Dockerfile
  docker/CloudSetup/MeasDeviceConfig/.gitkeep
  docker/CloudSetup/MeasDeviceConfig/PF_ExtMeas_GridProtection.txt
  docker/CloudSetup/MeasDeviceConfig/demonstrator_setup.txt
  docker/CloudSetup/MeasDeviceConfig/test.txt
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/Protection/DiffCore.py
  docker/CloudSetup/main.py
  docker/CloudSetup/setup.py
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

update build paths in ci.yml
  .gitlab-ci.yml
Due: none

fix Volume declaration in Protection.Dockerfile
  docker/Protection.Dockerfile
Due: protection

add opctag for requesting topology update; still bug when un/re-subscribing
  docker/CloudSetup/MeasDeviceConfig/demonstrator_setup.txt
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/OPC_UA/Client/subscription.py
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/Topology/TopologyFile_demonstrator.json
Due: protection

add certificates , add user/pw authentification
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  docker/CloudSetup/OPC_UA/Server/OPCServer.py
  docker/CloudSetup/OPC_UA/certificates/generate_certificate.sh
  docker/CloudSetup/OPC_UA/certificates/n5geh_opcua_server_cert.der
  docker/CloudSetup/OPC_UA/certificates/n5geh_opcua_server_cert.pem
  docker/CloudSetup/OPC_UA/certificates/n5geh_opcua_server_private_key.pem
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/main.py
  docker/ExternClient.Dockerfile
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

raise opcua version to 0.98.9
  docker/CloudSetup/setup.py
Due: none

insert "tree/develop/" into paths of CI file
  .gitlab-ci.yml
Due: none

Revert "insert "tree/develop/" into paths of CI file"
  .gitlab-ci.yml
Due: none

fix path in dockerfiles
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

fix path in dockerfiles, part II
  docker/Protection.Dockerfile
Due: protection

remove VOLUME from dockerfile, add readme for Dockerfiles
  docker/Protection.Dockerfile
  docker/README_Dockerfiles.md
Due: protection

try to fix path of data files and certificates
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/main.py
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/README_Dockerfiles.md
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

adapt again paths for data and certificate, add prints and todo
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  docker/CloudSetup/OPC_UA/Server/OPCServer.py
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/main.py
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

revert path changes, disable unscription in opcclient
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  docker/CloudSetup/OPC_UA/Server/OPCServer.py
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/main.py
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

fix path finding in OPCclient
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/Protection.Dockerfile
Due: protection

change way of deleting old client subscription
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/Protection/DataHandler.py
Due: protection

add new certificate generation, subscription bugfix
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  docker/CloudSetup/OPC_UA/Server/OPCServer.py
  docker/CloudSetup/OPC_UA/certificates/generate_certificate.sh
  docker/CloudSetup/OPC_UA/certificates/generate_certificate_x509v3.sh
  docker/CloudSetup/OPC_UA/certificates/n5geh_opcua_server_cert.der
  docker/CloudSetup/OPC_UA/certificates/n5geh_opcua_server_cert.pem
  docker/CloudSetup/OPC_UA/certificates/n5geh_opcua_server_private_key.pem
  docker/CloudSetup/OPC_UA/certificates/old/generate_certificate.sh
  docker/CloudSetup/OPC_UA/certificates/old/n5geh_opcua_server_cert.der
  docker/CloudSetup/OPC_UA/certificates/old/n5geh_opcua_server_cert.pem
  docker/CloudSetup/OPC_UA/certificates/old/n5geh_opcua_server_private_key.pem
  docker/CloudSetup/OPC_UA/certificates/ssl.conf
  docker/CloudSetup/main.py
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
Due: opcua_server, opcua_extern_client, protection

fix topology path in DataHandler standalone
  docker/CloudSetup/Protection/DataHandler.py
  docker/Server.Dockerfile
Due: opcua_server, protection

new function: when creating new nodes, delete old parent_dir if one exists with same name
  docker/CloudSetup/OPC_UA/Client/OPCClient.py
  docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  docker/CloudSetup/OPC_UA/Server/OPCServer.py
  docker/CloudSetup/Protection/DataHandler.py
  docker/CloudSetup/main.py
  docker/Protection.Dockerfile
Due: opcua_server, opcua_extern_client, protection

add ENV to externClient
  docker/ExternClient.Dockerfile
Due: opcua_extern_client

fix @ comparing dir_names
  docker/CloudSetup/OPC_UA/Server/OPCServer.py
Due: opcua_server

fix dockerfile path for gitlab runner
  .gitlab-ci.yml
Due: none

add client certificates
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/certificates/generate_certificate_x509v3.sh
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_client_cert.pem
  docker/cloud_setup/opc_ua/certificates/n5geh_opcua_client_private_key.pem
  docker/cloud_setup/opc_ua/certificates/old/generate_certificate.sh
  docker/cloud_setup/opc_ua/certificates/old/n5geh_opcua_server_cert.der
  docker/cloud_setup/opc_ua/certificates/old/n5geh_opcua_server_cert.pem
  docker/cloud_setup/opc_ua/certificates/old/n5geh_opcua_server_private_key.pem
  docker/cloud_setup/opc_ua/certificates/ssl_client.conf
  docker/cloud_setup/opc_ua/certificates/ssl_server.conf
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/opc_ua/client/OPCClient_MeasSim.py
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/DataHandler.py
Due: opcua_extern_client, protection

refactoring, add method documentation, disable_Certificate because of timeOuterror in opcua_lib
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/Server.Dockerfile
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/opc_ua/server/OPCServer.py
  docker/cloud_setup/protection/DataHandler.py
Due: opcua_server, opcua_extern_client, protection

load latest opcua master, instead of opcua=0.98.9
  docker/cloud_setup/setup.py
Due: none

change git path of opcua-master [try]
  docker/cloud_setup/setup.py
Due: none

same
  docker/cloud_setup/setup.py
Due: none

Revert "same"
  docker/cloud_setup/setup.py
Due: none

Revert "change git path of opcua-master [try]"
  docker/cloud_setup/setup.py
Due: none

change git path of opcua-master
  docker/cloud_setup/setup.py
Due: none

add new datetime creation, refactoring
  docker/cloud_setup/helper/DateHelper.py
  docker/cloud_setup/helper/mconfig.py
  docker/cloud_setup/helper/mconfig.yaml
  docker/cloud_setup/opc_ua/client/OPCClient_MeasSim.py
  docker/cloud_setup/protection/DataHandler.py
Due: none

make Clients inherit from OPCClient
  .gitlab-ci.yml
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/opc_ua/client/OPCClient_DataHandler.py
  docker/cloud_setup/opc_ua/client/OPCClient_SimDevice.py
  docker/cloud_setup/protection/DataHandler.py
Due: none

more cleanUp, raise Version to 0.6
  docker/ExternClient.Dockerfile
  docker/Protection.Dockerfile
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/client/OPCClient.py
  docker/cloud_setup/opc_ua/client/OPCClient_DataHandler.py
  docker/cloud_setup/opc_ua/client/OPCClient_SimDevice.py
  docker/cloud_setup/opc_ua/client/subscription.py
Due: opcua_extern_client, protection

small bug fixes, add OPCClient_Database
  docker/cloud_setup/helper/DateHelper.py
  docker/cloud_setup/main.py
  docker/cloud_setup/opc_ua/client/OPCClient_DataHandler.py
  docker/cloud_setup/opc_ua/client/OPCClient_Database.py
  docker/cloud_setup/opc_ua/client/OPCClient_SimDevice.py
  docker/cloud_setup/opc_ua/client/subscription.py
  docker/cloud_setup/protection/DataHandler.py
Due: none

add InfluxDBWrapper, cleanup
  docker/InfluxDB.Dockerfile
  docker/Protection.Dockerfile
  docker/cloud_setup/data/device_config/.gitkeep
  docker/cloud_setup/data/device_config/PF_ExtMeas_GridProtection.txt
  docker/cloud_setup/data/device_config/demonstrator_setup.txt
  docker/cloud_setup/data/device_config/test.txt
  docker/cloud_setup/data/topology/TopologyFile.json
  docker/cloud_setup/data/topology/TopologyFile_demonstrator.json
  docker/cloud_setup/data/topology/TopologyFile_test.json
  docker/cloud_setup/database_access/InfluxDbWrapper.py
  docker/cloud_setup/database_access/OPCClient_Database.py
  docker/cloud_setup/main.py
  docker/cloud_setup/protection/DataHandler.py
  docker/cloud_setup/protection/OPCClient_DataHandler.py
  docker/cloud_setup/setup.py
  docker/cloud_setup/sim_device/OPCClient_SimDevice.py
Due: protection

Path conditions:
  opcua_server: any of: docker/Server.Dockerfile, docker/CloudSetup/OPC_UA/Server/OPCServer.py
  opcua_extern_client: any of: docker/ExternClient.Dockerfile, docker/CloudSetup/OPC_UA/Client/OPCClient_MeasSim.py
  protection: any of: docker/Protection.Dockerfile, docker/CloudSetup/Protection/DataHandler.py
